.sidebar-menu>.active{
    background-color: #4ca2fe;
  }
  .sidebar-menu>.active>span{
    color: white;
  }
  .sidebar-menu>.with-sub>.sidebar-submenu{
    background-color: #fff !important;
  }
  .sidebar-menu>.with-sub>.sidebar-submenu>li>a>span{
    color: black !important;
  }
  .active-submenu-item{
    background-color: #f6f6f9;
  }
  .site-left-sidebar::-webkit-scrollbar {
    width: 0em;
  }
  .sidebar-menu a{
    border-bottom: rgba(84, 84, 84, 0.04) 1px solid;
  }
  .sidebar-menu > li{
    border-color: rgba(84, 84, 84, 0.04);
  }
  .sidebar-menu .icon-box {
    width: 27px;
    height: 27px;
    border-radius: 4px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .blue-background {background-color: #007aff;}
  .orange-background {background-color: #fe9500;color: #fff;}
  .red-background {background-color: #FE2D55;color: #fff;}
  