<div class="site-left-sidebar">
    <div class="sidebar-backdrop"></div>
    <div class="custom-scrollbar">
      <ul class="sidebar-menu">
        <li class="with-sub dropdown-none <%= active_menu_class(:dashboard) %>">
          <a href="<%= root_path%>" aria-haspopup="true">
            <span class="menu-icon">
              <i class="fa" aria-hidden="true">
                <!-- <%= image_tag("sidebar/ic_dashboard.svg") %> -->
              </i>
            </span>
            <span class="menu-text"> Dashboard</span>
          </a>
          <ul class="sidebar-submenu collapse">
            <a href="<%= root_path%>" aria-haspopup="true">
              <li class="menu-subtitle menu-subtitle-nodropdown">Dashboard</li>
            </a>
          </ul>
        </li>
  
        <%# if checked_permission?(current_user, @klass_list["Lead"], @action_list["read"]) || checked_permission?(current_user, @klass_list["Contact"], @action_list["read"]) %>
          <li class="with-sub <%= active_menu_class(:leads) %>">
            <a href="javascript:void(0)" aria-haspopup="true">
              <span class="menu-icon">
                <i class="fa " aria-hidden="true">
                  <%= image_tag("sidebar/ic_employees.svg") %>
                </i>
              </span>
              <span class="menu-text">Leads</span>
            </a>
            <ul class="sidebar-submenu <%= active_menu_dropdown_class(:leads) %>">
              <li class="menu-subtitle">Leads</li>
              <li>
                <% if checked_permission?(current_user, @klass_list["Lead"], @action_list["read"]) %>
                  <a href="<%= leads_path %>" aria-haspopup="true" class="<%= active_submenu_item_class(:lead_company) %>">
                    <%# <span class="menu-icon">
                      <i class="fa fa-address-card-o" aria-hidden="true"></i>
                    </span> %>
                    <span class="menu-text">Lead</span>
                  </a>
                <%end%>
              </li>
            </ul>
          </li>
        <%# end %>
  
        <% if (current_user.has_role? :super_admin) %>
          <li class="with-sub <%= active_menu_class(:settings) %>">
            <a href="javascript:void(0)" aria-haspopup="true">
              <span class="menu-icon">
                <i class="fa" aria-hidden="true">
                  <%= image_tag("sidebar/ic_settings.svg") %>
                </i>
              </span>
              <span class="menu-text">Settings </span>
            </a>
            <ul class="sidebar-submenu <%= active_menu_dropdown_class(:settings) %>">
              <li class="menu-subtitle">Settings</li>
              <li>
                <a href="<%=settings_url%>" aria-haspopup="true" class="<%= active_submenu_item_class(:crm_settings) %>">
                  <%# <span class="menu-icon"><i class="fa fa-cogs" aria-hidden="true"></i></span> %>
                  <span class="menu-text"> CRM Settings</span>
                </a>
              </li>
              <li></li>
            </ul>
          </li>
        <% end %>
  
      </ul>
    </div>
  </div>
  